<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.oauthfit.url">
        </div>
    </div>
</form>


<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('CLIENT_ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.oauthfit.client_id">
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('CLIENT_SECRET') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.oauthfit.client_secret">
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('REDIRECT_URI') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.oauthfit.redirect_uri">
        </div>
    </div>
</form>

