<div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl">
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
</div>

{#Message is =111= <em data-bind="text: myMessage"></em>#}
<iframe data-bind="attr: {src: currentUrl}"></iframe>
